.row-analysis {
  margin-bottom: 60px;
}
.col-function-nav {
  background-color: #2679b5;
}
.col-function-div {
  margin: 10px 10px 10px 10px;
  color: white;
}
.col-function-div2 {
  margin: 0px 10px 0px 10px;
}
.row-function-list {
  padding-left: 12px;
  padding-right: 12px;
}
#func-btn-list {
  font-size: 23px;
  margin-left: 10px;
  top: 5px;
}
#func-btn-app {
  font-size: 23px;
  margin-left: 10px;
  top: 5px;
}
.btn-addParam {
  float: right;
  margin-right: 20px;
  margin-left: 20px;
}
.page-header.fun-app-header {
  height: 44px;
  border-bottom: 1px dotted #e8e8e8;
}
#fun-app-h1 {
  font-size: 14px;
  color: #555555;
}
.fun-app-icon {
  font-size: 14px;
  text-align: center;
  padding-bottom: 90px;
}
.fun-app-pages-container {
  text-align: center;
}
.page-left-btn-valid {
  background-image: url(../../../icons/arrow.png);
  background-position: 0% 100%;
  padding: 8px 8px 8px 9px;
  display: inline;
  margin: 0 auto;
  font-size: 10px;
}
.page-left-btn-invalid {
  background-image: url(../../../icons/arrow.png);
  background-position: 0% 0%;
  padding: 8px 8px 8px 9px;
  display: inline;
  margin: 0 auto;
  font-size: 10px;
}
.page-right-btn-valid {
  background-image: url(../../../icons/arrow.png);
  background-position: 100% 100%;
  padding: 8px 8px 8px 9px;
  display: inline;
  margin: 0 auto;
  font-size: 10px;
}
.page-right-btn-invalid {
  background-image: url(../../../icons/arrow.png);
  background-position: 100% 0%;
  padding: 8px 8px 8px 9px;
  display: inline;
  margin: 0 auto;
  font-size: 10px;
}
.page-num-container {
  display: inline;
  margin: 0px 20px;
}
.page-num {
  padding-left: 5px;
  padding-right: 5px;
  display: inline;
  font-size: 14px;
}
